/* 
 * Code, not Hack
 * vuquangtrong.github.io
 */

/* Body */
body {
    font-size: large;
}

/* Navigation */
nav {
    min-height: 42px;
    font-weight: 500;
}

.navbar-brand {
    color: orange !important;
    font-size: unset !important;
}

.nav-link:hover {
    color: orange !important;
}

.nav-link.active {
    color: black !important;
}

.navbar-toggler {
    font-size: unset;
}

/* Header */
header {
    color: white;
}

header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/header.png");
    opacity: .8;
}

header a {
    color: orange;
}

header a:hover {
    color: orange;
    text-decoration: none;
}

/* Main */
pre {
    margin-bottom: 0 !important;
}

a:hover {
    color: orange;
    text-decoration: none;
}

/* Topics and Tags */
.badge {
    font-weight: unset;
}

/* Code color scheme */
.highlight,
.highlighttable .linenodiv {
    border-radius: 0.25rem !important;
    text-align: left;
    overflow: auto;
    margin-top: 0.5rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.highlighttable .code {
    width: 100%;
}

/* Ads */
.ads {
	opacity: 0.5;
}

/* Footer */
footer {
    margin-top: 1rem;
    font-size: smaller;
    color: white;
}

footer a {
    color: orange;
}

footer a:hover {
    color: orange;
    text-decoration: none;
}