/* Theme for Code the Heck blog
 * vuquangtrong.github.io
 */

html,
body {
    /* make sure footer is at the bottom */
    height: 100%;
}

nav {
    min-height: 42px;
}

p {
    text-align: justify;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

a:hover {
    color: orange;
    text-decoration: none;
}

.navbar-brand {
    color: orange !important;
    font-size: unset !important;
}

.nav-link:hover {
    color: orange !important;
}

.active {
    color: orange !important;
    border-bottom: 2px green solid;
}

.badge {
    font-weight: unset;
}

header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("images/header.png");
    opacity: .8;
}

header a {
    color: orange;
}

header a:hover {
    color: orange;
    text-decoration: none;
}

footer a {
    color: orange;
}

footer a:hover {
    color: orange;
    text-decoration: none;
}

blockquote {
    font-style: italic;
    font-size: unset !important;
}

table caption {
	caption-side: top;
	padding-bottom: 0;
	font-style: italic;
	text-align: right;
}

/* Code color scheme */
pre {
    margin-bottom: 0 !important;
}

samp {
	border: 1px green dashed;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
}

.highlight,
.highlighttable .linenodiv {
    border-radius: 0.25rem !important;
    text-align: left;
    overflow: auto;
    margin-top: 0.5rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.highlighttable .code {
    width: 100%;
}

/* Ads */
.ads {
	opacity: 0.5;
}
